[Desktop Entry]
Version=1.0
Name=Nemdiag
Comment=Linux Hardware Diagnostics
Exec=nemdiag-rs
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;
Icon=/usr/share/icons/hicolor/512x512/apps/nemdiag.png
