[Desktop Entry]
Version=1.0
Type=Application
Name=NemDiag Pro
Comment=Hardware Diagnostic & Technical Support
Exec=/usr/bin/nemdiag
Icon=nemdiag
Terminal=false
Categories=System;Utility;
Keywords=diagnostic;test;hardware;cpu;ram;
StartupNotify=true
